.cards{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    padding: 2rem;
    margin: auto;
}
.loading{
    min-height: 31rem;
    background-image: url("https://images3.alphacoders.com/844/thumbbig-84405.webp");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}