.container{
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: space-around;
    padding: .2rem 0;
    gap: 6rem;
}

.container button{
    height: fit-content;
}

.container select{
    font-family: MV Boli;
    border: .15rem solid rgb(129, 84, 1);
    border-radius: .5rem;
}